{
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "presets": [
    "flow",
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
